body {
    background-color: rgb(255, 255, 255);
    margin: 0;           
    height: 100vh;       
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidetext {
    color: rgb(0, 91, 171);
    font-family: 'Roboto', sans-serif;
    font-size: 3vw; 
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px; 
}

#mainclock {
    color: rgb(13, 1, 248);
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-size: 9vw; 
    text-align: center;
    flex-wrap: wrap;
}

#watermark {
    color: rgb(0, 0, 0);
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 0; 
    font-size: 20px;
}
#shwatermark {
    position: absolute;
    top: 10%;
    right: 0%;                  
    background-color: #000000; 
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#shwatermark:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-color: #fff8f8;
}


#fulldate {
    color: rgb(0, 255, 42);
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 30%;
    font-size: 3vw; 
    text-align: center;
    width: 100%;
    bottom: 25%;
}

#timezone {
    color: rgb(0, 0, 0);
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 100px; 
    font-size: 20px;
}

#fullscreenbutton {
    position: absolute;
    top: 16%;
    right: 0%;                  
    background-color: #000000; 
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#fullscreenbutton:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-color: #fff8f8;
}

#darklighttoggle {
    position: absolute;
    top: 22%;
    right: 0%;                  
    background-color: #000000; 
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#darklighttoggle:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-color: #fff8f8;
}

@media (max-width: 600px) {
    #mainclock {
        font-size: 12vw;
    }
    #fulldate {
        font-size: 5vw;
    }
    #sidetext {
        font-size: 4vw;
    }
}

