body {
    background-color: black;
    margin: 0;           
    height: 100vh;       
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidetext {
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-size: 3vw; 
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px; 
}

#mainclock {
    color: rgb(255, 225, 0);
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-size: 9vw; 
    text-align: center;
    flex-wrap: wrap;
}

#watermark {
    color: white;
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 0; 
    font-size: 20px;
}
#shwatermark {
    position: absolute;
    top: 10%;
    right: 0%;                  
    background-color: #1e1e1e; 
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#shwatermark:hover {
    background-color: white;
    color: #1e1e1e;
    border-color: #1e1e1e;
}


#fulldate {
    color: rgb(0, 255, 42);
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 30%;
    font-size: 3vw; 
    text-align: center;
    width: 100%;
    bottom: 25%;
}

#timezone {
    color: white;
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 100px; 
    font-size: 20px;
}

#fullscreenbutton {
    position: absolute;
    top: 16%;
    right: 0%;                  
    background-color: #1e1e1e; 
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#fullscreenbutton:hover {
    background-color: white;
    color: #1e1e1e;
    border-color: #1e1e1e;
}


@media (max-width: 600px) {
    #mainclock {
        font-size: 12vw;
    }
    #fulldate {
        font-size: 5vw;
    }
    #sidetext {
        font-size: 4vw;
    }
}

